/* overall styling */
header {
  background-color: #11aebf;
}

body {
  background-color: #2b3240;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: scriptorama-markdown-jf, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #11bfbf;
  -webkit-text-stroke: 2px #cbd95f;
  text-shadow: 0 0 12px #000000;
  font-size: 4rem;
  padding: 0 1rem;
  width: 100%;
  margin: 1rem 0;
}

h2 {
  font-family: scriptorama-markdown-jf, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2b3240;
  -webkit-text-stroke: 2px #b5bf63;
  text-shadow: 0 0 12px #000000;
  font-size: 3rem;
}

p,
.form-labels,
button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

footer {
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.api-info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: #ffffff;
}

.api-info:hover {
  color: #b5bf63;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #11aebf;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 1rem;
  animation: spin 2s linear infinite;
}

.error {
  border: 1px solid darkred;
  padding: 1rem;
  color: darkred;
  background: rgba(255, 0, 0, 0.1);
}

/* navigation bar styling */

nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #11aebf;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #d3dfe6;
  padding: 10px 20px;
  display: block;
  text-align: center;
}

nav a:hover {
  color: #000000;
  background-color: #d3dfe6;
}

.active {
  background-color: #b5bf63;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* home page styling */

.newHtml {
  display: flex;
  flex-wrap: wrap;
}

.characterDetails {
  border: 5px solid #11bfbf;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0 2rem;
  width: 280px;
  background-color: #ffffff;
  text-decoration: none;
  color: #000000;
}

.thumbnail-image {
  width: 100%;
  border: 5px solid #b5bf63;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

/* detials page styles */

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  flex-wrap: wrap;
}

.character-info-container {
  height: 100%;
  padding: 20px;
  margin: 0 1rem 1rem 0;
  background: #b5bf63;
  border: 5px solid #11bfbf;
  border-radius: 1rem;
  flex-grow: 2;
}

.details-image {
  border: 5px solid #b5bf63;
  border-radius: 1rem;
  margin-bottom: 2rem;
  flex-grow: 1;
}

/* contact page styles */

.form-container {
  max-width: 760px;
  margin: 0 auto;
}

form {
  padding: 20px;
  background: #b5bf63;
  border: 5px solid #11bfbf;
  border-radius: 1rem;
}

input {
  width: 97%;
  margin-top: 2px;
  padding: 10px;
  font-size: 16px;
  border-radius: 1rem;
  border: 2px solid #2b3240;
}

button {
  background: #11aebf;
  border: 2px solid #2b3240;
  width: 200px;
  padding: 1rem;
  color: black;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 1rem;
}

button:hover {
  text-transform: uppercase;
  font-weight: bold;
}

label {
  display: block;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.form-error {
  display: none;
  color: red;
  font-size: 1.2rem;
  margin-top: 2px;
}

textarea {
  height: 200px;
  width: 97%;
  border-radius: 1rem;
  border: 2px solid #2b3240;
  padding: 10px;
}

.validation-message {
  display: none;
  color: green;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
